[Unit]
Description=Traces Tablet
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/%u/survey_machine
ExecStart=/home/%u/survey_machine/.venv/bin/python /home/%u/survey_machine/app.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/%u/survey_machine/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
